@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* layout colors  */
    --color-light: #ffffff;
    --color-dark: #0f171f;
    --color-light-text: #bbbcc1;
    --color-primary: #5ca4e5;
    --color-primary-hover: #4f8bc1;
    --color-border: #aeadb6;
    --color-light-content: #f9f9f9;
    --color-dark-content: #0f1822;
    /* layout colors  */
}

/* ===== Clerk RTL Fix ===== */


.cl-root,
.cl-modal,
.cl-userButton,
.cl-userProfile {
    direction: rtl;
    text-align: right;
}


.cl-userButtonBox {
    flex-direction: row-reverse !important;
    gap: 0.5rem;
}


.cl-userProfileHeader {
    flex-direction: row-reverse !important;
    text-align: right;
}

.cl-userProfileNav {
    text-align: right;
}

.cl-modalCloseButton {
    right: auto !important;
    left: 1rem !important;
}