@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg-dark1: #0f171f;
    --color-bg-dark2: #0f1822;
    --color-bg-dark3: #191b1d;
    --color-bg-dark4: #201f1e;
    --color-bg-dark5: #0f1822;
    --color-bg-dark6: #0a0f14;
    --color-bg-light1: #f9f9f9;
    --color-bg-light2: #ffffff;
    --color-text-light1: #bbbcc1;
    --color-text-light2: #aeadb6;
    --color-text-light3: #87868e;
    --color-primary-light: #5ca4e5;
    --color-primary-hover: #4f8bc1;
}

/* ===== Clerk RTL Fix ===== */

/* قلب اتجاه كل واجهات Clerk */
.cl-root,
.cl-modal,
.cl-userButton,
.cl-userProfile {
    direction: rtl;
    text-align: right;
}

/* UserButton (الصورة يمين – الاسم شمال) */
.cl-userButtonBox {
    flex-direction: row-reverse !important;
    gap: 0.5rem;
}

/* UserProfile – الهيدر */
.cl-userProfileHeader {
    flex-direction: row-reverse !important;
    text-align: right;
}

/* UserProfile – القائمة الجانبية */
.cl-userProfileNav {
    text-align: right;
}

/* أيقونة الإغلاق */
.cl-modalCloseButton {
    right: auto !important;
    left: 1rem !important;
}