@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bg-dark1: #1c2428;
    --color-bg-dark2: #202426;
    --color-bg-dark3: #191b1d;
    --color-bg-dark4: #201f1e;
}